<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <form action="" id="datasender">
        <input type="text" name="name">
        <input type="text" name="age">
    </form>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        axios.get('/home')
            .then(function (response) {
                // handle success
                console.log(response.data);
            })

    </script>
</body>

</html>